body {
    margin-left: auto;
    margin-right: auto;
    width: 512px;
    background-color: rgb(202, 255, 237);
}

p {
    color: gray;
}

h3 {
    color: rgb(103, 0, 129);
}

h1 {
    color: rgb(103, 0, 129);
}
main {
    width: auto;
}

img {
    float: left;
    margin: 0px 10px 10px 0;
    width: 150;
    height: 300;
}

main p {
    margin: 10px 10px 10px 0;
}


